body {
    width: 95%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 200px;
    background-image: url("../images/bgsky3.jpg");
    text-align: center;
}

header p {
    color: darkblue;
}

header p:nth-child(1) {
    font-size: 300%;
    font-weight: bold;
    font-style: italic;

}

header p:nth-child(2) {
    font-size: 240%;
    font-weight: bold;
}