body {
    width: 95%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 200px;
    background-image: url("../images/bgsky3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}

header p {
    color: darkblue;
}

header p:nth-child(1) {
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
    margin-top: 0;
}

header p:nth-child(2) {
    font-size: 240%;
    font-weight: bold;
}

header img {
    position: absolute;
    top: 60px;
    right: 250px;
}

aside {
    width: 25%;
    background-color: #dddddd;
    border: 1px solid #999999;
    display: inline-block;
    float: right;
}

aside h3 {
    color: white;
    background-color: blue;
    text-align: center;
    font-size: 120%;
}

aside p {
    color: #666666;
    font-size: 90%;
    margin: 0 10px 0 10px;
}

.main {
    width: calc(75% - 10px);
    margin-right: 10px;
}

.main section:nth-child(2) p {
    text-align: justify;
    margin-top: 20px;
    margin-right: 30px;
}

.main section:nth-child(2) span{
    color: blue;
    font-weight: bold;
    font-style: italic;
}

.main section:nth-child(2) {
    display: inline-block;
    width: 79%;
}

.main > div:nth-child(1) {
    display: inline-block;
    width: 20%;
}

.main section:nth-child(3) {
    background-color: #999999;
    padding-bottom: 20px;
}

.main section:nth-child(3) .foto {
    display: inline-block;
}

.main section:nth-child(3) .foto img {
    width: 180px;
    height: 180px;
    padding: 10px;
    background-color: white;
    border: 1px dotted white;
    margin-top: 20px;
    margin-left: 20px;
}

.bottom {
    background-color: #666666;
}


