/* items */
div div {
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-size: 3em;
}

/* specific item styles */

.item-1 {
    background: #b03532;
}
.item-2 {
    background: #33a8a5;
}
.item-3 {
    background: #30997a;
}
.item-4 {
    background: #6a478f;
}
.item-5 {
    background: #da6f2b;
}
.item-6 {
    background: #3d8bb1;
}
.item-7 {
    background: #e03f3f;
}
.item-8 {
    background: #59a627;
}
.item-9 {
    background: #4464a1;
}

@media screen and (max-width: 760px) {
    body > div {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
        gap: 10px 10px;
    }

    .item-1 {
        display: none;
    }

    .item-2 {
        grid-column-start: 2;
    }

    .item-3 {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .item-4 {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .item-5 {
        grid-row-start: 2;
        grid-column-start: 2;
    }

    .item-6 {
        display: none;
    }

    .item-7 {
        grid-column-start: 1;
    }

    .item-9 {
        grid-row-start: 1;
    }
}

@media screen and (min-width: 761px) {
    body > div {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        gap: 10px 10px;
    }
}