body {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-family: verdana,sans-serif;
}

header h1 {
    margin-top: 1px;
    margin-bottom: 0;
    padding-top: 1px;
    padding-bottom: 50px;
    padding-left: 7px;
    color: white;
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    background-color: #39393c;
    color: black;
}

nav a {
    color: springgreen;
}