body {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-family: verdana,sans-serif;
}

header h1 {
    margin-top: 1px;
    margin-bottom: 0;
    padding-top: 1px;
    padding-bottom: 50px;
    padding-left: 7px;
    color: white;
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    background-color: #39393c;
    color: black;
    padding-left: 5px;
    padding-bottom: 3px;
}

nav a {
    color: springgreen;
    font-size: 0.80em;
    font-weight: bold;
    text-decoration: none;
}

article {
    background-color: #ececec;
    padding: 40px 5px 5px 5px;
    margin-top: 10px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

article h2{
    margin-top: 0;
    margin-bottom: 30px;
    text-decoration: underline;
}

article p , article a {
    font-size: 0.75em;
}

article p {
    margin-top: 0;
    margin-bottom: 6px;
}

section > footer {
    font-size: 0.7em;
    margin-top: 10px;
}