table {
    border-collapse: collapse;
    border-style: solid;
    margin: auto;
}

.maand {
    background-color: rgb(170,170,200);
}

.dagen {
    background-color: rgb(35,37,70);
    color: rgb(200,190,240);
}

.dagen th {
    border-style: dotted;
}

td {
    border-style: dotted;
}

tr td:first-child , tr td:last-child {
    background-color: rgb(255, 220, 220);
}

tbody tr:last-child td:nth-last-child(-n+3) {
    background-color: lightgray;
    color: grey;
}

tbody tr:first-child td:first-child {
    background-color: lightgray;
    color: gray;
}

body table .feestdagen {
    background-color: rgb(250,120,120);
}