body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    width: 95%;
    margin: auto;
}

h1 , h2 {
    color: #007e7e;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

#elixirs h1 {
    color: black;
}

#elixirs h2 {
    color: red;
}

footer {
    font-size: 50%;
}

#elixirs a:hover {
    background-color: brown;
}

#elixirs {
    padding: 5px 5px 5px 5px;
}

header p {
    width: fit-content;
    margin: auto;
}

#wrapper {
    position: relative;
}

#elixirs {
    width: 25%;
    display: inline-block;
    position: absolute;
    left: 70%;
    border-style: solid;
    border-width: 3px;
    border-color: #007e7e;
    text-align: center;
}

#wrapper #content {
    width: 70%;
    display: inline-block;
}

.cd {
    font-style: italic;
}

.artist {
    font-weight: bold;
}

.color {
    margin: 30px;
    padding: 20px;
    color: #444444;
    background-color: #a7cece;
    border-style: dotted;
    border-color: white;
    border-width: 3px;
}

