main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    row-gap: 10px;
}

main .block {
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1 {
    background: blue;
}

.block.block2 {
    background: dodgerblue;
}

.block.block3 {
    background: darkblue;
}

.block.block4 {
    background: mediumblue;
}

@media screen and (min-width: 320px) {
    .block.block1 {
        grid-row-start: 2;
    }
}

@media screen and (min-width: 772px) {
   .block.block1 {
       grid-row-start: 1;
   }

    .block.block2 {
        grid-row-start: 3;
    }
}

@media screen and (min-width: 992px) {
    main {
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(3, auto);
        column-gap: 10px;
    }

    .block.block1 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .block.block2 {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .block.block4 {
        grid-column-start: 2;
        grid-column-end: 4;
    }
}

